@model Cumulative1.Models.Teacher
<style>
    h1 {color: pink;}
</style>
<h1>@Model.TeacherFName @Model.TeacherLName</h1>

<div style="display:flex; flex-direction:column">
    <p1>Employee Number: @Model.EmployeeNumber</p1>
    <p1>Hiring Date: @Model.hiredate</p1>
   
</div>